.card{
    margin:36px;height:499px;width: 777px;
}
.card-header{
    background: #1e5ed4;
    color: white;
    font-size: 28px;
    font-family: cursive;
}
.btn.btn-primary{
    width: 161px;margin: 32px;margin-left: 222px;
 }
.fa.fa-eye{

    position: absolute;
    left: 278px;
    top: 162px;
}
.alert-message{
    color: #fb1508;
    
    margin: 32px;
    visibility: hidden;
}
.tabledata{
    position: absolute;
    right: 270px;
    top: 175px;
}