body {
    text-align: center;
    background: #000;
  }
  
  textarea {
    width: 32%;
    float: top;
    min-height: 250px;
    overflow: scroll;
    margin: auto;
    display: inline-block;
    background: #fff;
    outline: none;
    font-family: Courier, sans-serif;
    font-size: 14px;
  }
  
  iframe {
    bottom: 0;
    position: relative;
    width: 100%;
    height: 35em;
    background-color: #fff
  }
  .card-header{
    
    background: #3b5ee6;
    font-size: 25px;
    color: #fff;

  }