<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="messageBean" class="com.covalense.springcore.beans.MessageBean">
    <property name="message" value="Welcome to Spring"></property>
     
    </bean>
    <bean id="employeeBean1" class="com.covalense.springcore.beans.EmployeeBean">
    <property name="name" value="Rahul"></property>
      <property name="id" value="01"></property>  
      </bean>
      
       <bean id="employeeBean2" class="com.covalense.springcore.beans.EmployeeBean">
    <property name="name" value="geetha"></property>
      <property name="id" value="02"></property>
    </bean>

</beans>