
.logdiv
{
    position:absolute;
    top:25%;
    left:37.5%; 
    width:23%;
    height:52%;
    background-color: #426ABC;
    border-radius: 10px;
    border: 1px solid #426ABC;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
    border: 0px;
    border: 1px solid #426ABC;
    border-radius: 5px;
    
}

::placeholder
{
    color: #426ABC;
}
input[type=text]:hover, input[type=password]:hover {
    border:0;
    border-bottom: 1px solid #426ABC;
}
label
{
    color: #426ABC;
}
button {
    background-color: #426ABC;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    font-size: 15px;
}

button:hover {
    background-color: #3666ca;
}


.container {
  padding: 16px;
}
